<h3>Precision comparison test for specified exponent</h3>

Parameters for precision test:
<br />
Exponent:
<br />
<NumberInput @ref="@ExpInput" DefaultValue="-0.5" PlaceHolder="Type exponent here" />
<br />
Minimum base:
<br />
<NumberInput @ref="@MinInput" DefaultValue="1" PlaceHolder="Type minimum base here" />
<br />
Maximum base:
<br />
<NumberInput @ref="@MaxInput" DefaultValue="100" PlaceHolder="Type maximum base here" />
<br />
Number of iterations:
<br />
<NumberInput @ref="@IterationsInput" DefaultValue="10000" PlaceHolder="Type iterations count here" />
<br />
<button @onclick="ComparePrecision">Compare precision</button>
<br />
y = x ^ Exponent

<RadzenChart>
    @foreach(var measureResult in MeasuresResults) {
        <RadzenLineSeries Smooth="false" Data="@measureResult.DataItems" CategoryProperty="Base" ValueProperty="Value" Title="@measureResult.PowerFunctionModel.Name" />
    }
</RadzenChart>
<div class="container">
    @foreach(var measureResult in MeasuresResults) {
        <MeasureResultDisplay MeasuresResult="@measureResult" />
        <br />
    }
</div>

@code {
    public NumberInput ExpInput;
    public NumberInput MinInput;
    public NumberInput MaxInput;
    public NumberInput IterationsInput;

    public const int DataCount = 200;

    public List<MeasuresResult> MeasuresResults = new List<MeasuresResult>();

    void ComparePrecision() {
        var exp = ExpInput.Value;
        var min = MinInput.Value;
        var max = MaxInput.Value;
        var step = Math.Abs(max - min) / IterationsInput.Value;
        var ignoreCount = Math.Max(1, (int)IterationsInput.Value / DataCount);

        var baselineFunction = Misc.PowerFunctionModels[Misc.BaselinePowerFunctionIndex].Function;
        MeasuresResults = new List<MeasuresResult>();

        foreach(var powerFunctionModel in Misc.PowerFunctionModels) {
            var measureResult = new MeasuresResult(powerFunctionModel);

            var totalDifference = 0.0d;

            int i = 0;

            for(double v = MinInput.Value; v <= MaxInput.Value; v += step) {
                if(v == 0d) {
                    continue;
                }

                var baselineValue = baselineFunction(v, exp);
                var myValue = powerFunctionModel.Function(v, exp);

                var diff = Math.Abs(baselineValue / myValue);
                if(double.IsNaN(diff) || !double.IsFinite(diff) || double.IsNaN(baselineValue) || double.IsNaN(myValue) || !double.IsFinite(baselineValue) || !double.IsFinite(myValue)) {
                    continue;
                }
                if(i % ignoreCount == 0) {
                    measureResult.DataItems.Add(new DataItem { Base = v, Value = myValue });
                }
                var percentageDiff = Misc.ToPercentage(diff);
                if(percentageDiff > measureResult.MaxError) {
                    measureResult.MaxErrorBase = v;
                    measureResult.MaxError = percentageDiff;
                }
                totalDifference += diff;
                i++;
            }
            measureResult.AverageError = Misc.ToPercentage(totalDifference / i);
            MeasuresResults.Add(measureResult);
        }

        Console.WriteLine("Done comparing precision for {0} numbers", MeasuresResults.Sum(x => x.DataItems.Count));
    }

    protected override void OnAfterRender(bool firstRender) {
        if(firstRender) {
            ComparePrecision();
            StateHasChanged();
        }
        base.OnAfterRender(firstRender);
    }
}