<div class="info">
    <div><b>@wideMeasuresResult.PowerFunctionModel.Name</b></div>
    <div>Max error: <b>@(Misc.FormatError(wideMeasuresResult.MaxError))</b>% for number <b>@Misc.FormatDouble(wideMeasuresResult.MaxErrorBase)</b> in power <b>@Misc.FormatDouble(wideMeasuresResult.MaxErrorExp)</b></div>
    <div>Average error: <div style="display:inline; background: @averageErrorColor"><b>@(Misc.FormatError(wideMeasuresResult.AverageError))</b>%</div></div>
    <div>Iterations count: @wideMeasuresResult.IterationsCount</div>
</div>
@code {
    private string averageErrorColor = "";
    private WideMeasuresResult wideMeasuresResult;
    [Parameter]
    public WideMeasuresResult WideMeasuresResult {
        get => wideMeasuresResult;
        set {
            wideMeasuresResult = value;
            averageErrorColor = Misc.GetErrorColor(wideMeasuresResult.AverageError);
        }
    }
}
